// HOME
.back_home {
    background-image: url('../../../public/assets/images/home/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;    
}
.content_home {    
    width: 100%;
    .contenedor_banner {
        width: 100%;
        position: relative;
        z-index: 1;
        .img_gif {
            width: 100%;
        }
        .content_btn_registro {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: -40px;
            .btn_registro {
                width: 230px;
            }
        }        
    }
    .back_to_home {
        width: 80%;
        margin: 0 auto;
        .content_video {
            width: 100%;
            text-align: center;
            .icon_mecanica {
                width: 400px;
                padding: 4rem 0 1rem 0;
            }
            .content_video_back {
                width: 100%;
                height: 568px;
                background-image: url('../../../public/assets/images/home/video.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;                
                margin-bottom: 4rem;
            }
        }
        .content_steps {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px;
            .items {
                width: 46%;
                text-align: left; 
                .img_step {                    
                    width: 100%;
                }
                .text {
                    font-family: $font_bebasneue_regular;
                    font-size: 20px;
                }
            }
        }
        .content_premios {
            width: 100%;
            text-align: center;
            .icon_premios {
                width: 400px;
                padding: 4rem 0 1rem 0;
            }    
            .h6 {
                font-family: $font_bebasneue_bold;
                font-weight: bold;
                font-size: 1.1rem;
            }    
            .texto {
                font-family: $font_bebasneue_regular;
                font-size: 1.2rem;                   
            }  
            .texto_small {
                font-family: $font_bebasneue_regular;
                font-size: 0.7rem;                   
            }              
            .contenedor_imagenes_premios {
                width: 100%;
                height: 1120px;
                position: relative;
                .premio_1 {
                    width: 70%;
                    position: absolute;
                    left: 0;
                    top: 20px;
                    z-index: 1;
                }
                .premio_2 {
                    width: 65%;
                    position: absolute;
                    right: 0;
                    top: 380px;
                    z-index: 2;
                }      
                .premio_3 {
                    width: 65%;
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    z-index: 1;
                }                          
            }  
        }
    }
}

// REGISTRO
.back_registro {
    background-image: url('../../../public/assets/images/registro/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;    
}

.content_registro {
    width: 80%;
    margin: 0 auto;
    .cont_imgen_titulo {
        width: 100%;
        text-align: center;
        .img_titulo {
            width: 350px;
            padding-top: 5rem;
            padding-bottom: 4rem;
        }
    }
    .cont {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .cont_from_registro {
            width: 40%;
            .input-container {
                position: relative;
                margin-bottom: 1rem;
                input {
                    width: 100%;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 10px;
                    background-color: var(--morado); /* Fondo morado */
                    color: var(--blanco);
                    font-size: 14px;
                    outline: none;
                    &::placeholder {
                        color: var(--blanco);
                    }
                }                
            }        
            .cont_button {
                width: 100%;
                text-align: center;
                .btn_image {
                    border: none; 
                    padding: 0;
                    width: 130px;
                }
            }         
        }
        .cont_imagen_ilustrativa {
            width: 60%;
            text-align: center;
            .img_logo_registro {
                width: 100%;
            }
        }        
    }
}

// TYP --------- -------------- ----------------- ------------------------ -------------------------------- --------------------------------------------------------
.back_typ {
    background-image: url('../../../public/assets/images/typ/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;      
}
.content_typ {
    width: 90%;
    margin: 0 auto;
    .cont_imgen_titulo {
        width: 100%;
        text-align: center;
        .img_titulo {
            width: 350px;
            padding-top: 5rem;
            padding-bottom: 1rem;
        }
        .texto {
            font-family: $font_bebasneue_bold;
            font-size: 1.4rem;   
            padding-bottom: 10px;    
        }  
        .texto_small {
            width: 60%;
            margin: 0 auto;
            text-align: left;
            font-family: $font_bebasneue_regular;
            font-size: 1rem;                   
        }  
        .cont_premios {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 6rem 0 14rem 0;
            img {
                width: 32%;
            }
        }        
    }      
}

//------------------------------------------------------- LOGIN --------- -------------- ----------------- ------------------------ -------------------------------- --------------------------------------------------------
.back_login {
    background-image: url('../../../public/assets/images/registro/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;    
}

.content_login {
    width: 80%;
    margin: 0 auto;
    .cont_imgen_titulo {
        width: 100%;
        text-align: center;
        .img_titulo {
            width: 350px;
            padding-top: 5rem;
            padding-bottom: 4rem;
        }
    }
    .cont {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .cont_from_registro {
            width: 35%;
            .input-container {
                position: relative;
                margin-bottom: 1rem;
                input {
                    width: 100%;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 10px;
                    background-color: var(--morado); /* Fondo morado */
                    color: var(--blanco);
                    font-size: 14px;
                    outline: none;
                    &::placeholder {
                        color: var(--blanco);
                    }
                }                
            }   
            .conten_contrasenia {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                a {
                    text-align: left;
                    font-family: $font_bebasneue_regular;
                    font-size: 1rem;  
                    text-decoration: underline;                    
                }
            }     
            .cont_button {
                width: 100%;
                text-align: right;
                .btn_image {
                    border: none; 
                    padding: 0;
                    width: 130px;
                }
            }         
        }
        .cont_imagen_ilustrativa {
            width: 55%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px;
            .items {
                width: 44%;
                text-align: left; 
                .img_step {                    
                    width: 100%;
                }
                .text {
                    font-family: $font_bebasneue_regular;
                    font-size: 12px;
                }
            }
        }        
    }
}

// -------------------------------------------------------- OLVIDE MI CONTRASEÑA --------------------------------------------------------
.back_olvide_contrasenia {
    background-image: url('../../../public/assets/images/typ/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;      
}
.content_olvide_contrasenia {
    width: 90%;
    margin: 0 auto;
    .cont_imgen_titulo {
        width: 100%;
        text-align: center;
        .img_titulo {
            width: 500px;
            padding-top: 5rem;
            padding-bottom: 1rem;
        }
        .texto_small {
            text-align: center;
            font-family: $font_bebasneue_regular;
            font-size: 1.2rem;   
            margin-top: 3rem;                
        }  
        .cont_from_registro {
            width: 50%;
            margin: 4rem auto 0 auto;
            .input-container {
                position: relative;
                margin-bottom: 1rem;
                input {
                    width: 100%;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 10px;
                    background-color: var(--morado); /* Fondo morado */
                    color: var(--blanco);
                    font-size: 14px;
                    outline: none;
                    &::placeholder {
                        color: var(--blanco);
                    }
                }                
            }        
            .cont_button {
                width: 100%;
                text-align: center;
                .btn_image {
                    border: none; 
                    padding: 0;
                    width: 130px;
                }
            }         
        }       
    }      
}

// GAME --------- -------------- ----------------- ------------------------ -------------------------------- --------------------------------------------------------
.body_game {
    background-image: url('../../../public/assets/images/game/sem1/playamaruchan.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.contenedor_juego {
    width: 100%;
    height: 100%;
    .conten_tiempo {
        background-image: url(../../../public/assets/images/game/back_medidor.png);
        width: 180px;
        height: 100px;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            transform: rotate(-10deg);
            font-size: 3rem;
            font-family: $font_poppins_extrabold;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: white;  
            font-weight: bold;      
        }
    }
    
    .conten_puntos {
        background-image: url(../../../public/assets/images/game/back_medidor.png);
        width: 180px;
        height: 100px;
        background-size: 100% 100%;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;   
        p {
            transform: rotate(-10deg);
            font-size: 3rem;
            font-family: $font_poppins_extrabold;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: white;   
            font-weight: bold;     
        }     
        span {
                font-weight: bold;
                transform: rotate(-10deg);
                font-size: 1.3rem;
                font-family: $font_poppins_extrabold;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: white;        
                  
        }
    }    
}


.draggable {
    width: 80px;
    height: 80px;
    position: absolute;
    cursor: pointer;
}

.droppable {
    width: 340px;
    height: 270px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../../../public/assets/images/game/maleta.png');
    background-size: 100% 100%;
    background-position: center;
    transition: border 0.3s;
    z-index: 5;
    .zona {
        width: 86%;
        height: 70px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 28px;
        z-index: 20;
    }
}