footer {
    margin-top: 6rem;
    position: relative;
    .flecha_sube {
        width: 100%;
        .flecha_arriba {
            cursor: pointer;
            position: absolute;
            top: -80px;
            right: 60px;
            width: 45px;
        }
    }
    .footer {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        .img_producto {
            margin: 0 auto 2rem auto;
        }
        .vigencia {
            font-family: $font_bebasneue_bold;
            font-size: 1.5rem;
        }
        .bases {
            font-family: $font_bebasneue_bold;
            padding-top: 2rem;
            font-size: 1.5rem;
        }        
        .img_icon_footer {
            width: 30px;
        }
        .img_icon_footer_numero {
            width: 100px;
        }
        .redes {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding-top: 10px;     
            margin: 2rem 0;           
        }        
    }
}

@media only screen and (max-width: 600px) {
    footer {
        .flecha_sube {
            width: 100%;
            .flecha_arriba {
                cursor: pointer;
                position: absolute;
                top: -80px;
                right: 20px;
                width: 35px;
            }
        }        
        .footer {
            margin: 0 auto;
            .img_producto {
                width: 50%;
                margin: 0 auto;
            }
            .vigencia {
                font-family: $font_bebasneue_bold;
                font-size: 1rem;
            }
            .bases {
                font-family: $font_bebasneue_bold;
                padding-top: 1rem;
                font-size: 1rem;
            }             
            .img_icon_footer {
                width: 27px;
            }
            .img_icon_footer_numero {
                width: 86px;
            }
            .redes {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding-top: 10px;                
            }
        }
    }
}